<div th:if="${successMessage != null || errorMessage != null || warningMessage != null}" class="no-print alert alert-dismissible fade show" role="alert"
     th:classappend="${successMessage != null ? 'alert-success' : (errorMessage != null ? 'alert-danger' : 'alert-warning')}">
    <span th:text="${successMessage != null ? successMessage : (errorMessage != null ? errorMessage : warningMessage)}">Message d'alerte</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>