<div th:replace="~{fragments/header}"></div>

<div class="container-fluid p-5">
    <h2 class="mb-5">Administration</h2>

    <div class="col-md-8">
        <div class="row text-center">
            <div class="col-md-3 mb-3">
                <a th:href="@{/admin/offices}" class="btn btn-warning px-5 py-4 w-100">
                    <i class="fas fa-globe-americas fa-2x mb-3"></i> <br>
                    <span>Bureaux</span>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a th:href="@{/admin/agencies}" class="btn btn-warning px-5 py-4 w-100">
                    <i class="fas fa-building fa-2x mb-3"></i> <br>
                    <span>Agences</span>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a th:href="@{/admin/users}" class="btn btn-warning px-5 py-4 w-100">
                    <i class="fas fa-users fa-2x mb-3"></i> <br>
                    <span>Utilisateurs</span>
                </a>
            </div>
            <div class="col-md-3 mb-3">
                <a th:href="@{/admin/transfers}" class="btn btn-warning px-5 py-4 w-100">
                    <i class="fas fa-money-bill-wave fa-2x mb-3"></i> <br>
                    <span>Transfers</span>
                </a>
            </div>
        </div>
    </div>
</div>